@charset "utf-8";
/* CSS Document */

/*********************************
4. Menu
*********************************/

.menu
{
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 250px;
	height: 430px;
	background: #38393a;
	z-index: 100;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.header.scrolled .menu.active
{
	bottom: -360px;
}
.menu.active
{
	bottom: -323px;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}
.menu_content
{
	width: 100%;
	height: 100%;
	padding-top: 10px;
}
.menu_nav
{
	padding-right: 40px;
	padding-top: 35px;
}
.menu_nav ul li
{
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	transform: translateY(-20px);
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}
.menu.active .menu_nav ul li
{
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 8px;
}
.menu_nav ul li a
{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3d67a7;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_nav ul li a:hover
{
	color: #3d67a7;
}
.hamburger
{
	position: absolute;
	right: 38px;
	bottom: 14px;
	cursor: pointer;
	margin-right: 3px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3d67a7;
	letter-spacing: 0.05em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover
{
	color: #7a798c;
}

/*********************************
5.1 Progress Bars
*********************************/

.skills
{
	width: 100%;
}
.skills_text
{
	width: 100%;
}
.skills_text .container-fluid
{
	padding-left: 0;
	padding-right: 0;
}
.progress_bars
{
	margin-top: 92px;
}
.pb_col
{
	margin-bottom: 19px;
}
.progress_bars .container-fluid
{
	padding-left: 0;
	padding-right: 0;
}
.pb_item
{
	width: 100%;
}
.skill_bars
{
	width: 100%;
	height: 4px;
}
.skill_bars svg
{
	position: absolute;
	top: 0;
	left: 0;
}
.p_bar_title
{
	font-size: 13px;
	color: #100f3a;
	font-weight: 500;
	line-height: 0.75;
	margin-bottom: 17px;
}
.progressbar-text
{
	font-size: 13px;
	color: #100f3a;
	font-weight: 500;
	top: -33px !important;
}

/*********************************
5.2 Milestones
*********************************/

.milestones
{
	width: 100%;
	margin-top: 93px;
}
.milestone
{
	width: 25%;
	float: left;
}
.milestone_counter
{
	font-size: 36px;
	font-weight: 800;
	color: #100f3a;
	margin-top: 6px;
}
.milestone_text
{
	font-size: 16px;
	font-weight: 500;
	color: #838383;
	margin-top: -1px;
}
